{% extends "default.html" %}
{% block title %}도서리스트{% endblock %}
{% block body %}
<br>
<h1 style="text-align: center">도서리스트</h1>
<br>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr style="text-align: center">
                <th scope="col">#</th>
                <th scope="col">도서명</th>
                <th scope="col">출간일</th>
                <th scope="col">출판사</th>
                <th scope="col">페이지수</th>
                <th scope="col">추천수</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr  style="text-align: center">                
                <th scope="row">{{ loop.index }}</th>
                <td style="text-align: left"><a href="/content/{{ book.title }}">{{ book.title }}</a></td>
                <td>{{ book.published_date }}</td>
                <td>{{ book.publisher }}</td>
                <td>{{ book.pages }}</td>
                <td>{{ book.recommend }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container" align = "center">
    <form action="/bookList" method="POST" >
        <input type="text" id="srchKey" name="srchKey" placeholder="제목">
        <input type="submit" value="검색">
    </form>
</div>
{% endblock %}
