{% extends "default.html" %}
{% block title %}도서리스트{% endblock %}

{% block body %}
<h1 align="center">도서리스트</h1>
<br>
<table border="1"> 
    <tr>
    <td>도서명</td>
    <td>출간일</td>
    <td>출판사</td>
    <td>페이지수</td>
    <td>추천수</td>
</tr>

{% for book in result %}
    <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.published_date }}</td>
        <td>{{ book.publisher }}</td>
        <td>{{ book.pages }}</td>
        <td>{{ book.recommend }}</td>
    </tr>
{% endfor %}
</table>



{% endblock %}